<% content_for :subheader do %>

<%= render 'startlocation' %>
<!--  <%= render 'slider' %> -->
<% end %>

<div id="welcome-message">
  <div class="container">
    <div class="sixteen columns content">

      <div class="section clearfix" id="about">
        <h1>Cawebi</h1>
        <p class="background">Cawebi is an online platform where consumers choose their fresh food from the growers they trust, driven by price, quality and/or sustainability factors. Consumers are able to review feedbacks from mother consumers. Transparency is a fact.
        </p>
        <div class="row clearfix">
          <div class="one-third column alpha">
            <h2>
            Vom Erzeuger
            <br/>
            deines Vetrauens
            </h2>
            <a href="http://www.eleventhedition.com/about">
             <img src="http://www.eleventhedition.com/images/nav/web_circle.png" alt="Websites" width="300" height="200"/>
            </a>
            <p>You select the food from the grower you trust based on detailed info (quality, local grown, price, sustainability…)
            </p>
          </div>
          <div class="one-third column">
            <h2>
            Frisch
            <br/>
            und Gesund
            </h2>
            <a href="http://www.eleventhedition.com/about">
              <img src="http://www.eleventhedition.com/images/nav/branding_circle.png" alt="Branding" width="300" height="200"/>
            </a>
            <p>Make it easy for your mobile customers to find information. Responsive web design allows your website to adjust to different layouts for a variety of different devices such as smartphones, tablets and laptops.</p>
          </div>
          <div class="one-third column omega">
            <h2>
            Lieferung
            <br/>
            nach Hause
            </h2>
            <a href="http://www.eleventhedition.com/about">
              <img src="http://www.eleventhedition.com/images/nav/print_circle.png" alt="Print" width="300" height="200"/>
            </a>
            <p>
            We deliver in the most convenient way for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container">
  <% if @featured_products %>
    <div id="featured-products" class="row">
      <h3>Featured Products</h3>
      <hr>
      <ul class="carousel">
        <% @featured_products.each do |product| %>
          <%= render 'product', :product => product %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @latest_products %>
    <div id="latest-products" class="row">
      <h3>Latest Products</h3>
      <hr>
      <ul class="carousel">
        <% @latest_products.sort_by{ |product| product.created_at }.reverse.each do |product| %>
          <%= render 'product', :product => product %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div> -->
